.ejer_1{
    border-collapse: collapse;
}

/* Ejercicio 2*/

.prin{
    border: solid 2px royalblue;
    width: 50%;
}

.primero{
    color: turquoise;
    border: solid 1px royalblue;
}

.segundo{
    color: red;
    border: solid 1px royalblue;
}

/* Ejercicio 3*/

.resul{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.modifa{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.resul li{
    font-style: italic;;
}


/* Ejercicio 4 */

.ejer_4{
    display: block;
    width: 46%;
}

.ul_ejer_4 li{
    width: 47%;
    padding: 8px;
}

.ul_ejer_4_mod li{
    width: 47%;
    padding: 8px;
    text-decoration: underline;
}


/* Ejercicio 5 */

#ita{

    font-style: italic;
}

#gara{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* Ejercicio 6 */

.border{
    border:solid 1px black;
}

#div1{
    padding: 1em;
}

#div2{
    padding: 1em 2em;
}

#div3{
    padding: 1em 2em 3em;
}

#div4{
    padding: 1em 2em 3em 4em;
}

#div5{
    padding-top: 1em;
    padding-right: 2em;
    padding-bottom: 3em;
    padding-left: 4em;
}


/* Ejercicio 7 ( Es el mismo ejercicio que el nº 6. */

/* Ejercicio 8 */


.border1{
    border:solid 0.2em black;
    padding: 1em;
}

.border2{    
    border: ridge 1em rgb(230, 227, 227);
    padding: 1em;
}

.border3{
    border-style: solid;
    border-color: black;
    padding: 1em;
    border-width: 1em 1.5em;
}

.border4{
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-left-style: double;
    border-right-style: double;
    border-color: black;
    border-top-color: blueviolet;
    padding: 1em;
    border-width: 1em 1.5em 2em 2.5em;
}

.border5{    
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: grey;
    padding: 1em;
    border-width: 1em 1.5em 2em 2.5em;
}

.border6{
    border-style: dashed;
    border-color: black;
    border-top-color: green;
    padding: 1em;
    border-top-width: 1em;    
    border-right-width: 1.5em;
    border-bottom-width: 2em;
    border-left-width: 2.5em;
}

/* Ejercicio 9 */

.radius1{
    border:solid 3px black;
    box-shadow: 5px 10px grey;
    border-radius: 1rem;
    padding: 1em;
    margin: 20px;
}

.radius2{
    border:solid 3px black;
    box-shadow: 5px 10px 6px grey;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2em;
    padding: 1em;
    margin: 20px;
}

.radius3{
    border:solid 3px black;
    box-shadow: 5px 10px 6px grey;
    border-top-left-radius: 1rem 0.5rem;
    border-bottom-right-radius: 1rem 0.5rem;
    border-top-right-radius: 2rem 0.5rem;
    border-bottom-left-radius: 2rem 0.5rem;
    padding: 1em;
    margin: 20px;
}

.radius4{
    border:solid 3px black;
    border-top-left-radius: 1rem 0.5rem;
    border-bottom-left-radius: 2rem 1.5rem;
    border-top-right-radius: 2rem 1.5rem;
    border-bottom-right-radius: 3rem 0.5rem;
    padding: 1em;
    margin: 20px;
}

.radius5{
    border:solid 3px black;
    box-shadow: 5px 10px 10px 5px grey inset;
    border-top-left-radius: 1rem 0.5rem;
    border-bottom-left-radius: 4rem 3.5rem;
    border-top-right-radius: 2rem 1.5rem;
    border-bottom-right-radius: 3.5rem 2.5rem;
    padding: 1em;
    margin: 20px;
}




/* Ejercicio 10 */

.ejer10{
    width: 59%;
}

.tit_10{
    color: green;
}

label ,legend{
    color: red;
}

.tb_10 {
    width: 250px;
    border: 1px solid #000;
}

.tb_10 th, td {
    border: 1px solid #000;
}

#tr_azul{
    color: blue;
}

#tr_morado{
    color: blueviolet;
}




/* Ejercicio 11 */






















